<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  {% comment %} <body>
    <h1>사용자 정보</h1>
    <h3>{{user}}</h3>
    <a href="{% url 'accounts:login' %}">[로그인]</a>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value='[로그아웃]'>
    </form>
  </body> {% endcomment %}


  <body>
    <h1>사용자 정보</h1>
    <h3>{{ user }}</h3>
    {% if user.is_authenticated %} 
        <form action="{% url 'accounts:logout' %}" method="GET">
            {% csrf_token %}
            <input type="submit" value='[로그아웃]'>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}" metod="GET">[로그인]</a>
    {% endif %}
</body>

</html>