{% extends 'base.html' %}

{% block style %}
  <style>
    a {
      text-decoration-line: none;
    }
  </style>

{% endblock style %}

{% block content %}
  <table class="table table-hover mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">카테고리</th>
        <th scope="col">내용</th>

      </tr>
    </thead>
    <tbody>

      {% for post in category_posts %}

        <tr>
          <th scope="row">
            {{post.pk}}</th>
          <td>
            <a href="{% url 'posts:detail' post.pk %}">{{post.title}}</a>
          </td>
          <td>{{post.category}}</td>
          <td>{{post.content}}</td>
        </tr>

      {% endfor %}

    </tbody>
  </table>
{% endblock content %}
